@import url(@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap'));
:root {
    --primary-color: #1609d4;
}

body {
    font-family: 'Azeret Mono', monospace, sans-serif;
}

.container {
    margin: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5em;
}

input {
    margin: 1.2em;
    padding: 0.5em;
    font-size: 0.8em;
    width: 160px;
}

::placeholder {
    text-align: center;
}

#check-btn {
    padding: 0.8em;
    margin: 1em;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
    border-radius: 0.2em;
}

#check-btn:hover {
    background-color: #1272cc;
    cursor: pointer;
}

#message {
    margin: 1em;
    font-size: larger;
}

.list-item-inline {
    display: inline;
    margin-right: 2rem;
}

.footer {
    background-color: var(--primary-blue);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-bottom: 1em;
}

.footer i {
    color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem;
}

.footer i:hover {
    color: #1272cc;
}