@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
    --primary-color: #1609d4;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5em;
}

input {
    margin: 1em;
    padding: 0.5em;
    font-size: 0.8em;
    width: 160px;
}

::placeholder {
    text-align: center;
}

#check-btn {
    padding: 0.8em;
    margin: 1em;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
    border-radius: 0.2em;
}

#check-btn:hover {
    background-color: #1272cc;
    cursor: pointer;
}

#message {
    margin: 1em;
    font-size: larger;
}

.list-item-inline {
    display: inline-block;
}